.carousel-container {
  overflow: hidden;
  width: 100%;
  display: flex;
  flex-direction: column; /* Stack buttons and carousel vertically */
  justify-content: center;
  align-items: center; /* Center horizontally */
  position: relative;
  height: 90vh; /* Full viewport height */
}

.button-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 600px;
  margin-top: 0; /* Space between buttons and carousel */
}

.button-container span {
  margin-top: 5px;
}

.carousel-button {
  padding: 10px 20px;
  font-size: 1rem;
  border: none;
  background: none;
  cursor: pointer;
  color: white;
}

.carousel {
  flex: 1; /* Take available space after buttons */
  display: flex;
  position: relative;
  width: 100%; /* Full width of the container */
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
}

.carousel-item {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
  width: 33.33%; /* Each item takes about one-third of the carousel's width */
  height: 70%; /* Adjust height to be shorter */
  padding: 0 1.5rem; /* Add padding to create space between items */
}
