.carousel-container {
  overflow: hidden;
  width: 100vw;
  display: flex;
  flex-direction: column; /* Stack buttons and carousel vertically */
  justify-content: center;
  align-items: center; /* Center horizontally */
  position: relative;
  height: 100vh; /* Full viewport height */
}

.carousel {
  flex: 1; /* Take available space after buttons */
  display: flex;
  position: relative;
  width: 100%; /* Full width of the container */
  justify-content: center;
  align-items: center;
  margin: 30px;
}

.carousel-item {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.5s ease-in-out;
  width: 35%; /* Adjust to 33.33% of the carousel's width */
  height: 80%;
}
